@charset "utf-8";

.all{
    font-family: "Montserrat", "SF UI Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Segoe UI", "Helvetica Neue", Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1rem;
    line-height: 1.75;
    /*letter-spacing: 0.6px;*/
    color: var(--color-2);
}
.paper{
    padding: 3vw;
}
.paper-main{
    max-width: 880px;
    margin: 0 auto;
    padding: 72px 5vw 24px;
    background: var(--color-5);
    border-radius: 24px;
}

.header{
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 1px solid var(--color-4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-0);
    margin-bottom: 16px;
    flex: 0 0 100%;
}
.logo:hover{
    color: var(--color-9);
    transition: color ease-in-out .5s;
}
.nav{
    margin: 0 0 4px;
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
.nav li{
    padding: 2px 0;
    margin-right: 24px;
}
.nav li:last-of-type{
    margin-right: 0;
}
.nav li a{
    color: var(--color-0);
    opacity: .6;
    transition: opacity ease-in-out .5s;
}
.nav li a:hover{
    opacity: 1;
    transition: opacity ease-in-out .5s;
}

.post-header{
    padding: 8px 0;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.post-header .logo{
    font-size: 1rem;
}


.post-nav{
    margin: 4px 0 0;
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-content: center;
}
.post-nav li{
    padding: 2px 0;
    margin-right: 24px;
}
.post-nav li:last-of-type{
    margin-right: 0;
}
.post-nav li a{
    color: var(--color-0);
    opacity: .6;
    transition: opacity ease-in-out .5s;
}
.post-nav li a:hover{
    opacity: 1;
    transition: opacity ease-in-out .5s;
}

.post-list ul li{
    width: 100%;
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 1px dashed var(--color-4);
}
.post-box{
    margin-bottom:32px;
}
.post-title{
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 1.75rem;
    line-height: 1.2;
    color: var(--color-0);
}
.post-title:hover,.post-title a:hover{
    color: var(--color-9);
    transition: color ease-in-out .5s;
}
.post-date
{
    font-size: 0.875rem;
    color: var(--color-4);
}
.post-except{
    margin-bottom: 12px;
    text-align: justify;
    /*text-align-last: justify;*/
    color: var(--color-2);
}

.sketch{
    color: var(--color-2); 
}
.read-more{
    padding: 0 4px;
    color: var(--color-9);   
}
.read-more:before,.read-more:after{
    display: inline-block;
    transition: transform ease-in-out .5s;
}
.read-more:before{
    content: "{ ";
}
.read-more:after{
    content: " }";
}
.read-more:hover:before{
    transform: translateX(-4px);
    transition: transform ease-in-out .25s;
}
.read-more:hover:after{
    transform: translateX(4px);
    transition: transform ease-in-out .25s;
}
.paginator
{
    font-size: 0.875rem;
    width: 100%;
    margin: 0 auto 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.paginator *
{
    display: block;
    padding: 8px 16px;
    border-radius: 18px;
    background: var(--color-5);
    border: 1px solid var(--color-6);
}
.paginator .space
{
    display: block;
    padding: 8px 16px;
    border-radius: 18px;
    background: var(--color-5);
    border: none;
}
.paginator a
{
    margin: 4px;
    color: var(--color-2);
    transition: color ease-in-out .5s;
}
.paginator a:hover
{
    color: var(--color-9);
    transition: color ease-in-out .5s;
}
.paginator .current
{
    color: var(--color-9);
    border: 1px solid var(--color-9);
}

.footer
{
    padding: 24px 0;
    font-size: 0.875rem;
    color: var(--color-4);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}
.footer span
{
    text-align: center;
    margin-bottom: 8px;
}
.footer a
{
    color: var(--color-4);
    transition: color ease-in-out .5s;
}
.footer a:hover
{
    color: var(--color-9);
    transition: color ease-in-out .5s;
}
.post-main
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
}

.archive,.categories,.post{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: normal;
}
.archive li,.categories li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 12px 0;
}
.archive li:nth-child(odd),.categories li:nth-child(odd){
    background: var(--color-7);
}
.archive li:nth-child(even),.categories li:nth-child(even){
    background: var(--color-5);
}
.archive li span{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 96px;
    color: var(--color-2);
    margin-left: 1vw;
}
.archive li div{
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 0 1 calc(100% - 108px - 2vw);
    margin-right: 1vw;
}
.categories li span{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 36px;
    color: var(--color-2);
    margin-right: 1vw;
}
.categories li div{
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 0 1 calc( 100% - 36px - 2vw);
    margin-left: 1vw;
}

.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
.tags li{
    margin: 0px 16px 16px 0px;
    padding: 1px 1px 1px 1px;
    background: var(--color-6);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.tags li div a{
    display: flex;
    padding: 2px 16px;
    font-size: 0.875rem;
}
.tags li span a{
    display: flex;
    padding: 2px 10px;
    background: var(--color-5);
    border-radius: 4px;
}

.index-seiri{
font-size: 12px;
margin: 8px 8px 0 0;
padding: 2px 10px;
background: var(--color-6);
border-radius: 4px;
align-items: center;
}
.index-seiri:hover{
    background: var(--color-8);
    color: var(--color-5);
}
.index-seiri:hover a{
    color: var(--color-5);
}