.toc-list{
    width: calc(100% - 6vw);
    max-width: 880px;
    margin: 0 auto;
    background: var(--color-5);
    border-radius: 24px 24px 0 0;
    position: fixed;
    left: 50%;
    transform: translate(-50%,0);
    bottom: -300px;
    /* box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2); */
    /*display: none;*/
}
.toc{
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 3vw 5vw 0vw;
}
.toc::-webkit-scrollbar{display: none;}/* 隐藏滚动条 */

.toc-list li{
    margin: 0 0 4px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: flex-start;*/
    /*align-content: center;*/
}


.buttonbox{
    position: fixed;
    right: 8vw;
    bottom: 3vw;
}
.toc-button{
    position: absolute;
    right: 0;
    bottom: calc(48px + 24px);
}
.to-top
{
    position: absolute;
    right: 0;
    bottom: 0;
    /*bottom: calc(8vw + 48px + 44px);*/
}

.to-top,.toc-button,.go-home{
    padding: 17px;
    background: var(--color-5);
    border-radius: 18px;
    border: 1px solid var(--color-6);
}
.to-top svg,.toc-button svg{
    transform: translateY(0);
}
.go-home svg{
    transform: translateX(0);
}
@media (any-hover: hover){
.to-top:hover,.toc-button:hover,.go-home:hover{
    background: var(--color-6);
    }
.to-top:hover svg,.toc-button:hover svg{
    transform: translateY(-4px);
    }
.go-home:hover svg{
    transform: translateX(-4px);
}
.to-top,.toc-button,.go-home,.to-top:hover,.toc-button:hover,.go-home:hover{
    transition: background ease-in-out .5s;
}
.to-top svg,.toc-button svg,.go-home svg,.to-top:hover svg,.toc-button:hover svg,.go-home:hover svg{
    transition: transform ease-in-out .5s;
}
}

